* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/icons/wallpaperbetter.com_1920x1080.jpg);
    background-size: cover;
    height: 100vh;
}

.heading {
    text-align: center;
    padding-top: 150px;
    word-spacing: 20px;
    margin-bottom: 20px;
}

.search-input {
    display: block;
    border: 0;
    border: solid 3px rgb(244, 241, 241);
    background-color: rgb(143, 139, 146);
    border-radius: 90px;
    height: 30px;
    width: 300px;
    color: rgb(244, 241, 241);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.btn-search {
    border: 0;
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgb(92, 92, 199);
    color: aqua;
}

.btn-search:hover {

    background-color: rgb(69, 69, 135);
    color: aqua;
}

/* styles for data from WEATHER API */
.forecast__container {
    padding-top: 30px;
    width: 500px;
    margin: 0 auto;
    color: white;
}

.forecast__main-info {
    display: flex;
    margin-bottom: 30px;
}

.img-weather__container {
    margin-left: 100px;
    position: relative;
    width: 150px;
}


.city-name {
    color: gold;
    font-size: 30px;
}

.temp {
    font-size: 60px;
    color: white;
    font-weight: bolder;
}

.widget__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 20px;
    border: 1px solid gray;
    text-align: center;
    /* bcg
    opacity: 0.5; */
    /* flex-direction: column */
}

.img-sun {
    animation: rot 10s infinite;
}

.img-weather {
    width: 100px;
    height: 100px;
}

.rotation {
    animation: rot 10s infinite;
}

.horizontal {
    animation: slide 10s infinite;
    /* animation-duration: 3s;
    animation-name: slidein; */
}

.move {
    position: absolute;
    left: 0;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        left: 0;
    }

    /* Початкове положення елемента */
    50% {
        left: calc(100% - 50px);
    }

    /* Положення елемента в кінці "першої половини" анімації */
    100% {
        left: 0;
    }

    /* Початкове положення елемента */
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rain {
    position: absolute;
    top: 0;
    /* Початкове положення елемента */
    width: 50px;
    height: 50px;
    /* background-color: red; */
    animation-name: rain;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rain {
    0% {
        top: 0;
    }
    100% {
        top: calc(100% - 20px);
    }
}


@keyframes slide {
    from {
        transform: translate(150px, 0);
    }

    to {
        transform: translate(0px, 0);
        /* transform: translate(350px, 0); */
    }

    /* from {
        margin-left: 100%;
        width: 100%
      }
    
      to {
       margin-left: 0%;
       width: 100%;
     } */
}

/* @keyframes sun {
    from {top: 0px;}
    50% {top: 100px !important;} /* ignored */
/* to {top: 200px;}
  }  */

/* .wind-speed__container{
    display: flex;
} */