// footer

footer {
    background-color: #16133d;
  
    h1{
      display: inline-block;
      font-family: $quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 35px;
      color: #FFFFFF;
    }
  }
  .footer__container {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
  
    .logo-icons {
      margin-left: 13.6rem;
    }
  }
  
  .footer__container a {
    font-family: $quicksand;
    font-style: normal;
    font-size: 35px;
    line-height: 35px;
    color: #ffffff;
    background-color: #16133d;
  }
  
  // group of social icons
  .social-icons {
    display: flex;
    gap: 1rem;
    margin-left: 13.6rem;
    padding-bottom: 4rem;
  
    .icon {
      width: 3.8rem;
      height: 3.8rem;
      padding: 8px;
      background-color: #efeef3;
      border-radius: 5px;
    
        &:hover{
            background-color: #7e7d82;
        }
    }
  }
  