html {
    font-size: 62.5%;
  }
  
  // main
  .main-container {
    margin-top: 10rem;
    margin-left: 13.6rem;
  
    h4 {
      font-family: $roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #7690a8;
      margin-bottom: 1.5rem;
    }
  
    h2 {
      font-family: $nunitosans;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 52px;
      letter-spacing: 0.2px;
      color: $darkblue;
      margin-bottom: 4rem;
    }
  }
  
  .cards {
    width: 117rem;
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    background: $white;
    border: 1px solid #e5eaf4;
    border-radius: 8px;
    margin-bottom: 10rem;
  
    .icon-hovered {
      display: none;
    }
  
    &:hover {
      border-color: $green;
    }
  
    &:hover .icon-unhovered {
      display: none;
    }
  
    &:hover .icon-hovered {
      display: block;
    }
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    margin-top: 4.05rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    width: 6.4rem;
    height: 6.4rem;
  }
  
  .item__title {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: $darkblue;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .item__description {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $darkblue;
    margin-left: 4rem;
    margin-right: 5.5rem;
    margin-bottom: 3rem;
    width: 27.5rem;
  }
  
  .item__link {
    display: inline-block;
    font-family: $roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $green;
    margin-left: 4rem;
    margin-bottom: 4.05rem;
  }
html {
  font-size: 62.5%;
}

// main
.main-container {
  margin-top: 10rem;
  margin-left: 13.6rem;

  h4 {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690a8;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-family: $nunitosans;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: $darkblue;
    margin-bottom: 4rem;
  }
}

.cards {
  width: 117rem;
  display: flex;
  justify-content: space-between;
}

.item {
  background: $white;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  margin-bottom: 10rem;

  .icon-hovered {
    display: none;
  }

  &:hover {
    border-color: $green;
  }

  &:hover .icon-unhovered {
    display: none;
  }

  &:hover .icon-hovered {
    display: block;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
  margin-top: 4.05rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  width: 6.4rem;
  height: 6.4rem;
}

.item__title {
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: $darkblue;
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}

.item__description {
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $darkblue;
  margin-left: 4rem;
  margin-right: 5.5rem;
  margin-bottom: 3rem;
  width: 27.5rem;
}

.item__link {
  display: inline-block;
  font-family: $roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $green;
  margin-left: 4rem;
  margin-bottom: 4.05rem;
}
  