body {
    margin: 0 auto;
}

.navigator {
    display: flex;
    height: 88px;
    background: rgba(56, 56, 56, 1);
}

.navigator__trademark {
    display: flex;
    flex-basis: 525px;
}

.navigator__orion {
    padding-left: 78px;
    padding-top: 12px;
    font-size: 30px;
    color: #D91E27;
}

.navigator__menu {
    flex-basis: 689px;
    font-family: 'Comfortaa';
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 1);
    padding-right: 57px;
}

.navigator__menu ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}

.navigator__menu li {
    margin-top: 40px;
    list-style: none;
}

.navigator__menu span {
    color: rgba(217, 30, 39, 1);
}

a {
    text-decoration: none;
    color: white;
}

.navigator__button {
    flex-basis: 226px;
    padding-top: 41px;
}

.navigator__button_Zakazat {
    color: rgba(217, 30, 39, 1);
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    border: 1px solid #D91E27;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    width: 140px;
    height: 36px;
}

.navigator__button_Zakazat:hover {
    background: #d36868;
    color: #EEF0F6;
}

.podglav {
    height: 97px;
    background: rgba(255, 255, 255, 1);
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    padding: 0 0 0 86px;
    display: flex;
    align-items: center;
}

.podglav span {
    color: rgba(56, 56, 56, 0.5);
}

.podglav img {
    margin-left: 15px;
    padding-right: 0px;
    margin-right: 15px;
}

.our-services {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: black;
}

.advantages {
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
}

.our_advantages {
    text-align: center;
    font-size: 22px;
}

.advantages__img1 {
    margin-left: 150px;
    margin-top: -15px;
}

.advantages__text1,
.advantages__text3 {
    margin-left: -150px;
    margin-top: -30px;
}

.advantages__img3 {
    margin-left: 254px;
    margin-top: -15px;
}

.advantages::before {
    content: '';
    position: absolute;
    width: 1440px;
    height: 2px;
    left: 0px;
    top: 795px;
    background: #EEF0F6;
}

.advantages::after {
    content: '';
    position: absolute;
    width: 1440px;
    height: 2px;
    left: 0px;
    top: 892px;
    background: #EEF0F6;
}

.content {
    display: flex;
    margin-bottom: 19px;
}

.content__stolb1 {
    width: 620px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-left: 84px;
    margin-top: -1em;
}

.content__stolb1 li::before {
    content: '';
    position: absolute;
    background: #D91E27;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 8px;
    left: -22px;
}

h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 28px;
    font-weight: bolder;
    line-height: 34px;
    letter-spacing: 1px;
}

.content__stolb1 p {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: -10px;
}

.content__stolb2 {
    width: 710px;
    font-family: "Gilroy";
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.content__stolb1 li {
    list-style: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 6px;
    position: relative;
    margin-left: -18px;
}

h2 {
    font-family: 'Gilroy';
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 86px;
}

.your_choice p {
    width: 1268px;
    height: 140px;
    margin-left: 86px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}

.video-youtube {
    text-align: center;
}

.footer {
    height: 88px;
    background: rgba(56, 56, 56, 1);
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer__phone {
    padding-right: 7px;
}

.footer__UaRu {
    margin-left: 693px;
    word-spacing: 10px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #EEF0F6;
    margin-right: 62px;
}

.footer__UaRu span {
    color: rgba(238, 240, 246, 0.75);
    margin-right: 15px;
}

.footer__insta {
    margin-right: 17px;
}

.footer__email {
    font-family: 'Comfortaa';
    font-size: 14px;
    line-height: 15px;
    color: rgba(238, 240, 246, 0.75);
    margin-left: 33px;
}
.footer {
    height: 88px;
    background: rgba(56, 56, 56, 1);
    display: flex;
    align-items: center;
}

.phone {
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 0;
    line-height: 15px;
    color: rgba(238, 240, 246, 0.75);
    padding-left: 87px;
}

.footer__phone {
    padding-right: 7px;
}

.footer__UaRu {
    margin-left: 693px;
    word-spacing: 10px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #EEF0F6;
    margin-right: 62px;
}

.footer__UaRu span {
    color: rgba(238, 240, 246, 0.75);
    margin-right: 15px;
}

.footer__insta {
    margin-right: 17px;
}

.footer__email {
    font-family: 'Comfortaa';
    font-size: 14px;
    line-height: 15px;
    color: rgba(238, 240, 246, 0.75);
    margin-left: 33px;
}

@font-face {
    font-family: 'Gilroy';
    src: url(fonts/Gilroy-Light.otf);
}