*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 181, 38);
    flex:15%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:70%;
}

.name-list {
    font-size: 30px;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 100, 100);
    flex:15%;
}