// blog

// container
.main-container {
  max-width: 1170px;
  margin: 0 auto;
}

.blog__container {
  h2 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 9rem;
    margin-bottom: 5rem;
  }
  @media (max-width: 768px) {
    h2 {
      margin-top: 6rem;
    }
  }
  @media (max-width: 320px) {
    h2 {
      text-align: center;
    }
  }

  //   container for articles in rhe blog
  .blog__items-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .article {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    .article__image {
      width: 340px;
      height: 280px;
    }
  }
}

// text block in the article
.article__text {
  margin-top: 100px;
  padding: 0px 30px;

  .article__category {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7b7b7b;
    margin-bottom: 30px;
  }
  @media (max-width: 768px) {
    .article__category {
      margin-bottom: 10px;
    }
  }

  .article__name {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 15px;
    max-width: 370px;
  }

  .article__date {
    display: inline-block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7b7b7b;
    margin-bottom: 50px;
  }

  .article__description {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
    max-width: 450px;

    a {
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
    }
  }
  @media screen and (max-width:320px) {
    .article__description a{
      width: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .article__text {
    margin-top: 0px;
    padding: 0px;
    padding-left: 30px;
  }
  .article__text .article__date {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 650px) {
  .article {
    flex-direction: column;
    align-items: center;

    &__text {
      margin-top: 20px;
      max-width: 480px;
    }
  }
}

// second article
.second {
  justify-content: space-between;
}

article.second .article__text {
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  article.second .article__text {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 30px;
  }
}


@media screen and (max-width: 320px) {
  .article {
    flex-direction: column-reverse;

    &__text {
      margin-top: 20px;
      max-width: 480px;
      padding: 0px;
      padding-bottom: 20px;
    }
  }

  .article.second{
    flex-direction: column;
  }
}
