//  block info
.info__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  .info__author {
    display: flex;
    flex-direction: column;
    flex: 50%;

    h3 {
      font-family: "Red Hat Display";
      font-style: normal;
      //   font-weight: 400;
      font-size: 23px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #000000;
      margin-bottom: 12px;
    }

    a{
        max-width: 25px;
    }
  }

  .info__comments {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    flex: 50%;
    max-width: 47rem;

    p {
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .info__container {
    flex-direction: column;

    .info__comments {
      text-align: right;
      max-width: none;
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 320px) {
    .info__container {
      flex-direction: column;
  
      .info__comments {
        text-align: left;
        max-width: none;
        margin-top: 3rem;
      }
    }
  }
