html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


@media screen and (max-width:768px) {
  .main-container {
    padding: 0 35px;
  }
}

@media screen and (max-width:320px) {
  .main-container {
    padding: 0 12px;
  }
}