// the most popular blog
.popular__container {
  margin-bottom: 9rem;
  //   width: 100%;

  .popular__title {
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    margin-bottom: 5rem;

    h3 {
      font-family: "Red Hat Display";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #000000;
    }

    a {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #7b7b7b;
      display: flex;
      align-items: center;

      img {
        margin-left: 20px;
        width: 25px;
      }
    }
  }
  //      container for most popuplar posts
  .popular__items-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 5rem;

    .popular-post__item {
      flex: 1;

      img {
        // max-width: 570px;
        width: 100%;
      }

      .popular-post__text {
        margin-top: 0px;
        padding: 0px 0px;

        .popular-post__data-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2.5rem;

          .popular-post__category {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7b7b7b;
          }

          .popular-post__date {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7b7b7b;
          }
        }
        .popular-post__name {
          font-family: "Red Hat Display";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #000000;
          margin-bottom: 2.5rem;
          max-width: 370px;
          margin-top: 2.5rem;
        }

        .popular-post__description {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.05em;
          color: #565656;
          max-width: 450px;
        }
      }
    }
  }
  //   button "Load more"
  .btn__load {
    display: block;
    width: 18rem;
    height: 4.6rem;
    margin: 0 auto;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #ffffff;
    background: #565656;

    &:hover {
      background: #3c3b3b;
      color: gold;
    }
  }
}

@media screen and (max-width: 320px) {
  .popular__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .popular__title {
      flex-direction: column;
      font-size: 28px;

      a {
        margin-top: 20px;
      }
    }

    .popular__items-container {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
