/* general styles */

/* body{
    background: #E5E5E5;
} */

section {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

section:last-child {
    margin-bottom: 120px;
}

section h2 {
    margin-top: 120px;
    margin-bottom: 80px;
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #000000;
}

.author {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    bottom: 20px;
    left: 20px;
}

.date {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #E0E0E0;
    bottom: 20px;
    right: 20px;
}

.image {
    border-radius: 20px;
    opacity: 0.8;
    position: relative;
}

.image:hover {
    opacity: 1;
}

.like-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 20px;
    border-radius: 8px;
    border: none;
    display: none;
    opacity: 0.5;
}

.like-btn:hover {
    opacity: 1;
}

.like-heart {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    display: none;
}

.image:hover .like-heart {
    display: inline-block;
    cursor: url(../assets/icons/like/Vector.svg), pointer;
}

.like-heart:hover {
    opacity: 1;
}

.image:hover .like-btn {
    display: inline-block;
}

.download {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
    display: none;
}

.download-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 20px;
    border-radius: 8px;
    border: none;
    display: none;
    opacity: 0.5;
}

.image:hover .download-btn {
    display: inline-block;
    cursor: url(../assets/icons/like/Vector.svg), pointer;
}

.download-btn:hover {
    opacity: 1;
}

.image:hover .download {
    display: inline-block;
    cursor: url(../assets/icons/like/Vector.svg), pointer;
}

/* section "Architectural Photography" */
.architectural-photo-container {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-auto-rows: 370px;
    grid-gap: 30px;
    width: 1140px;
    margin: 0 auto;
}

.image-1 {
    background-image: url(../images/image-1.jpg);
}

.image-2 {
    background-image: url(../images/image2.jpg);
    grid-column: 2/4;
}

.image-3 {
    background-image: url(../images/image3.jpg);
    grid-column: 1/3;
}

.image-4 {
    background-image: url(../images/image-4.jpg);
}

.image-5 {
    background-image: url(../images/image-5.svg);
}

.image-6 {
    background-image: url(../images/image6.jpg);
    grid-column: 2/4;
}

/* section "Still Life Photography" */
.life-photo-container {
    display: grid;
    grid-template-areas:
        'img1 img2 img2'
        'img3 img3 img4'
        'img3 img3 img4'
        'img5 img5 img6';
    grid-auto-rows: 370px;
    gap: 30px;
    width: 1140px;
    margin: 0 auto;
}

.img-1 {
    grid-area: img1;
    background-image: url(../images/img1.jpg);
}

.img-2 {
    grid-area: img2;
    background-image: url(../images/img2.jpg);
}

.img-3 {
    grid-area: img3;
    background-image: url(../images/img3.jpg);
}

.img-4 {
    grid-area: img4;
    background-image: url(../images/img4.jpg);
}

.img-5 {
    grid-area: img5;
    background-image: url(../images/img5.jpg);
}

.img-6 {
    grid-area: img6;
    background-image: url(../images/img6.jpg);
}

/* section "Portrait Photo" */

.portrait-photo-container {
    display: grid;
    grid-template-areas:
        'photo1 photo2 photo3'
        'photo4 photo2 photo5'
        'photo6 photo7 photo5'
        'photo6 photo8 photo8'
        'photo9 photo9 photo10';
    grid-auto-rows: 370px;
    gap: 30px;
    width: 1140px;
    margin: 0 auto;
}

.photo-1 {
    background-image: url(../images/photo1.jpg);
    grid-area: photo1;

}

.photo-2 {
    background-image: url(../images/photo2.jpg);
    grid-area: photo2;
}

.photo-3 {
    background-image: url(../images/photo3.jpg);
    grid-area: photo3;
}

.photo-4 {
    background-image: url(../images/photo4.jpg);
    grid-area: photo4;
}

.photo-5 {
    background-image: url(../images/photo5.jpg);
    grid-area: photo5;
}

.photo-6 {
    background-image: url(../images/photo6.jpg);
    grid-area: photo6;
}

.photo-7 {
    background-image: url(../images/photo7.jpg);
    grid-area: photo7;
}

.photo-8 {
    background-image: url(../images/photo8.jpg);
    grid-area: photo8;
}

.photo-9 {
    background-image: url(../images/photo9.jpg);
    grid-area: photo9;
}

.photo-10 {
    background-image: url(../images/photo10.jpg);
    grid-area: photo10;
}