/* general styles */
* {
    margin: 0px;
    padding: 0px;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

/* header */

header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: white;
}

.empty-div {
    width: 100%;
    height: 80px;
    margin-bottom: 70px;
}

.header-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}

.header__nav {
    margin-left: -550px;
}

.header__nav a {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    text-transform: capitalize;
}

.lang {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
}

/* main */

main {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 30px;
}

.chapter {
    position: relative;
}

.chapter>p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}

p+p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.chapter__name {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
}

.chapter__name>span {
    position: absolute;
    bottom: 30px;
    right: -110px;
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
}

.chapter__heading {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    padding-top: 70px;
}

.chapter__heading:nth-child(1) {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

#chapter1 {
    padding-top: 0px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    font-family: 'PT Sans';
    font-size: 28px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 40px;
}

li:last-child {
    margin-bottom: 0px;
}

li>p {
    margin-top: 40px;
}

.strong {
    font-family: "Francois One";
}

code {
    color: #000000;
    background-color: lightgray;
    padding: 10px 0px;
}

.select-word {
    background-color: lightgray;
    padding: 8px;
}