body {
    margin: 0;
    background-color: #80808000;
}

h2 {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: #1e78d9;
    margin-top: 20px;
    margin-bottom: 15px;
}

form {
    margin: 0 auto;
    width: 500px;
    border: solid 2px rgb(12 18 173 / 8%);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4eff9;
}

main {
    width: 100%;
}

.gender {
    display: flex;
    line-height: 10px;
}

.gender p {
    margin-left: 20px;
}

.gender label {
    display: inline-block;
    width: auto;
}

.gender label:first-of-type {
    margin-left: 110px;
    margin-right: 50px;
}

label {
    display: block;
    width: 150px;
    line-height: 40px;
    margin-left: 10px;
}

input {
    width: 300px;
    height: 30px;
}

.radio-btn {
    width: 20px;
    height: 20px;
}

.form-item {
    display: flex;
    margin: 10px;
}

select {
    width: 308px;
    height: 35px;
}

option {
    text-align: center;
}

textarea {
    width: 301px;
    height: 75px;
}

.address {
    line-height: 75px;
}

.input-check {
    width: 20px;
    margin-left: 50px;
}

.form-item p {
    margin-left: 20px;
    margin-top: 8px;
}

.continue-btn {
    width: 300px;
    height: 30px;
    color: #1e68e0;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #1e78d9;
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.continue-btn:hover {
    background: #1e68e0;
    color: #EEF0F6;
}

.terms-of-use {
    width:400px;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}